html, body {
    background-color: #000;
    color: #FFF;
    font-family: sans-serif;
}
div {
    width: 8%;
    display: inline-block;
    height: 180px;
    overflow: hidden;
}

div img {
    width:100%;
}

div p {
    text-align: center;
}